In [2]:
import numpy as np
import pandas as pd

In [20]:
import os

for root, dirs, files in os.walk(os.getcwd()):
    if 'CARGA_ENERGIA_2024.csv' in files:
        print(os.path.join(root, 'CARGA_ENERGIA_2024.csv'))

c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\CARGA_ENERGIA_2024.csv

In [21]:
from pathlib import Path

data_path = Path(r'c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\CARGA_ENERGIA_2024.csv')

In [ ]:
raw_data = pd.read_csv(data_path, sep=';')
# raw_data

df = raw_data[['din_instante', 'id_subsistema', 'val_cargaenergiamwmed']]
df['din_instante'] = pd.to_datetime(df['din_instante'])

df

C:\Users\guica\AppData\Local\Temp\ipykernel_14676\4156153175.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['din_instante'] = pd.to_datetime(df['din_instante'])

     din_instante id_subsistema  val_cargaenergiamwmed
0      2024-01-01             N            6532.986042
1      2024-01-01            NE           11658.740083
2      2024-01-01             S           10472.403292
3      2024-01-01            SE           35089.386708
4      2024-01-02             N            7154.334333
...           ...           ...                    ...
1459   2024-12-30            SE           40639.167375
1460   2024-12-31             N            7579.586500
1461   2024-12-31            NE           13092.667583
1462   2024-12-31             S           11997.240667
1463   2024-12-31            SE           38959.762458

[1464 rows x 3 columns]

In [54]:
df_sul = df[df['id_subsistema'] == 'S'].rename(columns={'din_instante': 'data', 'id_subsistema': 'regiao', 'val_cargaenergiamwmed': 'carga'})
df_sudeste = df[df['id_subsistema'] == 'SE'].rename(columns={'din_instante': 'data', 'id_subsistema': 'regiao', 'val_cargaenergiamwmed': 'carga'})
df_norte = df[df['id_subsistema'] == 'N'].rename(columns={'din_instante': 'data', 'id_subsistema': 'regiao', 'val_cargaenergiamwmed': 'carga'})
df_nordeste = df[df['id_subsistema'] == 'NE'].rename(columns={'din_instante': 'data', 'id_subsistema': 'regiao', 'val_cargaenergiamwmed': 'carga'})

366