In [1]:
import numpy as np
import pandas as pd

In [ ]:
from prepare_load_data import load_regions

In [12]:
load_sul, load_se, load_norte, load_ne = load_regions()
print(load_sul.head())

        data regiao  carga(MWmed)
0 2024-01-01      S  10472.403292
1 2024-01-02      S  12956.085250
2 2024-01-03      S  13443.966958
3 2024-01-04      S  13904.147917
4 2024-01-05      S  13813.902208

In [13]:
from weather_utils.get_weather import load_inmet, select_columns
from weather_utils.process_weather import standardize, fix_commas, merge_region
from weather_utils.regions import REGIONS, DATA_DIR

In [15]:
dfs_weather_sul = []

for path in REGIONS['sul']:
    df = load_inmet(path=path)
    df = select_columns(df=df)
    df = standardize(df=df)
    df = fix_commas(df=df)
    dfs_weather_sul.append(df)

weather_sul = merge_region(dfs_weather_sul)
print(weather_sul)

          data  temperatura  precipitacao
0   2024-01-01    22.200000      1.266667
1   2024-01-02    22.766667      2.066667
2   2024-01-03    22.233333     23.066667
3   2024-01-04    22.166667      0.333333
4   2024-01-05    22.400000      6.933333
..         ...          ...           ...
361 2024-12-27    23.166667      1.066667
362 2024-12-28    23.500000      0.266667
363 2024-12-29    22.433333      1.866667
364 2024-12-30    21.966667      0.733333
365 2024-12-31    23.166667      5.800000

[366 rows x 3 columns]

In [24]:
df = pd.concat(
    [weather_sul.reset_index(drop=True),
     load_sul[['regiao', 'carga(MWmed)']].reset_index(drop=True)],
    axis=1
)

df

          data  temperatura  precipitacao regiao  carga(MWmed)
0   2024-01-01    22.200000      1.266667      S  10472.403292
1   2024-01-02    22.766667      2.066667      S  12956.085250
2   2024-01-03    22.233333     23.066667      S  13443.966958
3   2024-01-04    22.166667      0.333333      S  13904.147917
4   2024-01-05    22.400000      6.933333      S  13813.902208
..         ...          ...           ...    ...           ...
361 2024-12-27    23.166667      1.066667      S  12800.938792
362 2024-12-28    23.500000      0.266667      S  12649.711875
363 2024-12-29    22.433333      1.866667      S  11543.374792
364 2024-12-30    21.966667      0.733333      S  12517.652458
365 2024-12-31    23.166667      5.800000      S  11997.240667

[366 rows x 5 columns]