In [7]:
import numpy as np
import pandas as pd

In [8]:
"""
Norte:      Manaus - Belém - Porto Velho
Nordeste:   Fortaleza - Salvador
Sul:        Porto Alegre (Jardim botânico) - Curitiba - Florianópolis
Sudeste:    São Paulo (Interlagos) - Rio de Janeiro (Vila Militar) - Belo Horizonte (Pampulha)
"""

'\nNorte:      Manaus - Belém - Porto Velho\nNordeste:   Fortaleza - Salvador\nSul:        Porto Alegre (Jardim botânico) - Curitiba - Florianópolis\nSudeste:    São Paulo (Interlagos) - Rio de Janeiro (Vila Militar) - Belo Horizonte (Pampulha)\n'

In [9]:
import os

for root, dirs, files in os.walk(os.getcwd()):
    if 'dados_belem_A201_D.csv' in files:
        print(os.path.join(root, 'dados_belem_A201_D.csv'))

c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\inmet\dados_belem_A201_D.csv

In [13]:
from pathlib import Path

belem_path = Path(r'c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\inmet\dados_belem_A201_D.csv')
belem_df = pd.read_csv(belem_path, sep=';', skiprows=10)

In [ ]:
belem_df = pd.DataFrame(belem_df[['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)', 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)']])
belem_df.isnull().any()

Data Medicao                            False
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)    False
TEMPERATURA MEDIA, DIARIA (AUT)(°C)     False
dtype: bool

In [31]:
#   Mesmo passo para MANAUS
from pathlib import Path

manaus_path = Path(r'c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\inmet\dados_belem_A201_D.csv')
manaus_df = pd.read_csv(manaus_path, sep=';', skiprows=10)

manaus_df = pd.DataFrame(manaus_df[['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)', 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)']])
manaus_df['Data Medicao'] = pd.to_datetime(manaus_df['Data Medicao'])
manaus_df.isnull().any()
# manaus_df

Data Medicao                            False
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)    False
TEMPERATURA MEDIA, DIARIA (AUT)(°C)     False
dtype: bool

In [ ]:
#   Mesmo passo para MANAUS
from pathlib import Path

manaus_path = Path(r'c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\inmet\dados_belem_A201_D.csv')
manaus_df = pd.read_csv(manaus_path, sep=';', skiprows=10)

manaus_df = pd.DataFrame(manaus_df[['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)', 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)']])
manaus_df['Data Medicao'] = pd.to_datetime(manaus_df['Data Medicao'])
manaus_df.isnull().any()
# manaus_df

In [ ]:
#   Mesmo passo para PORTO VELHO
from pathlib import Path

pvelho_path = Path(r'c:\Users\guica\OneDrive\Documentos\GitHub\CurrentFlow-2.0\data\raw\inmet\dados_porto_velho_A925_D.csv')
pvelho_df = pd.read_csv(pvelho_path, sep=';', skiprows=10)

pvelho_df = pd.DataFrame(pvelho_df[['Data Medicao', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)', 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)']])
pvelho_df['Data Medicao'] = pd.to_datetime(pvelho_df['Data Medicao'])
pvelho_df.isnull().any()

Data Medicao                            False
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)     True
TEMPERATURA MEDIA, DIARIA (AUT)(°C)      True
dtype: bool

In [35]:
pvelho_df = pvelho_df.fillna(0)
pvelho_df.isnull().any()

Data Medicao                            False
PRECIPITACAO TOTAL, DIARIO (AUT)(mm)    False
TEMPERATURA MEDIA, DIARIA (AUT)(°C)     False
dtype: bool

In [36]:
# Norte

def padronizar(df):
    df = df.rename(columns={
        'Data Medicao': 'data',
        'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)': 'precipitacao',
        'TEMPERATURA MEDIA, DIARIA (AUT)(°C)': 'temperatura'
    })
    df['data'] = pd.to_datetime(df['data'])
    return df

pvelho_df = padronizar(pvelho_df)
belem_df  = padronizar(belem_df)
manaus_df = padronizar(manaus_df)

In [51]:
df_norte = pd.concat([pvelho_df, belem_df, manaus_df], ignore_index=True)
# print(df_norte.columns)

def comma_replace(df):
    df['temperatura'] = df['temperatura'].astype(str).str.replace(',', '.').astype(float)
    df['precipitacao'] = df['precipitacao'].astype(str).str.replace(',', '.').astype(float)
    return df

df_norte = comma_replace(df_norte)

df_norte = pd.DataFrame(df_norte.groupby('data')[['precipitacao', 'temperatura']].mean().reset_index())

df_norte

          data  precipitacao  temperatura
0   2024-01-01      5.933333    26.533333
1   2024-01-02      7.800000    26.833333
2   2024-01-03     27.866667    26.333333
3   2024-01-04     29.333333    26.400000
4   2024-01-05     10.466667    26.900000
..         ...           ...          ...
361 2024-12-27      6.800000    18.533333
362 2024-12-28      9.733333    18.066667
363 2024-12-29      1.466667    16.733333
364 2024-12-30     12.400000    18.133333
365 2024-12-31      0.000000    18.333333

[366 rows x 3 columns]